#main_nav_bar {
  justify-content: flex-start;
}

.user_email,
.btn,
.cart_icon {
  margin-left: 0.5rem;
}

.cart_notification{
  position: absolute;
  top:-0.025rem;
}

.user_icon_img{
  padding-left: 1rem;
}