#sign_up_container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  text-align: center;
  height: 50vh;
}
.user_input_field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0.5rem auto;
  text-align: left;
}
#sign_up_container h4 {
  margin-top: 2rem;
  font-size: medium;
}
